<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Montaño Cecilia</title>
</head>
<body>
<h1>
Menu TP01 Montaño Cecilia
</h1>

<ul>
	<li><a href="/Principal?numero1=6">Punto1</a></li>
	<li><a href="/Bisciesto?num1=2022">Punto2</li>
	<li><a href="/ParImpar?numero=3">Punto3</li>
	<li><a href="/Mes?numero=10">Punto4</li>
	<li><a href="/Mes2?numero=4">Punto5</li>
	<li><a href="/EvaluarValor?numero=10">Punto6</li>
	<li><a href="/Secuencianum1?numero=50">Punto7</a></li>
	<li><a href="/Secuencianum2?numero=0">Punto8</li>
	<li><a href="/Secuencianum3?numero=320">Punto9</li>
	<li><a href="/Secuencianum4?numero=320">Punto10</li>
	<li><a href="/Secuencianum5?numero=320">Punto11</li>
	<li><a href="/Tiempo?numero=10">Punto12</li>
</ul>
</body>
</html>