<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Resultado</title>
</head>
<body>
  <h1>Alumno</h1>
  <h2><span th:text ="${valor1}"></span></h2>
  <h2><span th:text ="${valor2}"></span></h2>
  <h2><span th:text ="${valor3}"></span></h2>
  <h2><span th:text ="${valor4}"></span></h2>
  <h2><span th:text ="${valor5}"></span></h2>
  <h2><span th:text ="${valor6}"></span></h2>
  <h2><span th:text ="${valor7}"></span></h2>
  <h2><span th:text ="${valor8}"></span></h2>
  <a href="menu">Volver al menu</a>
</body>
</html>